@tailwind base;
@tailwind components;
@tailwind utilities;


/*  npx tailwindcss build ./style/style.css -o output.css */
.paire {
    transform-style: preserve-3d;
    transition: transform 0.5s;
    transform: rotateY(180deg);
    @apply w-1/4 border-2 h-10;
}

.paire .content {
    visibility: hidden;
}

.paire.flipped {
    transform: rotateY(0deg);
}

.paire.flipped .content {
    visibility: visible;
}